


.input-container input{
    border: none;
    background: #F2F2F2;
    border-radius: 10px;
    width: 70%;
    padding: 10px;
    font-size: 16px;
    align-items: center;
    justify-content: center;
    align-content: center;
}
