body{
    background-color: rgb(255, 255, 255);
}
.home-container .titulo{
    align-items: center;
    text-align: center;
    font-size: 100%;
}

.home-container{
    font-family:serif;
}

.home-container .icono-menu-lateral{
    margin: 2% 1%;
    position: relative;
}

.home-container .icono-menu-lateral img{
    vertical-align: top;
    width: 3%;
    cursor: pointer;
}

.home-container .contenido-menu{
    background-color:rgb(42, 42, 42);
    box-shadow: 2px 0px 5px 2px rgb(66,66,66);
    width: 20%;
    height: 100vh;
    position: absolute;
    top: 0%;
    left: 0%;
    transition: all .5s ease;
}

.home-container .contenido-menu ul{
    padding: 100px 0px 20px 0px;
    list-style:none;

}
.home-container .contenido-menu ul li{
    color:white;
    display: block;
    font-size: 30px;
    text-decoration: none;
    padding-top: 10px 50px;
    cursor: pointer;
    
}

.active{
    transform: translate(-600px);

}

.opacity{
    background-color: rgba(0,0,0,0.5);
    transition: all .5s ease;
}

.home-container .contenido-menu ul li:hover{
    background-color: rgb(228,228,228);
    color:rgb(42,42,42);
}

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box ;
}

.home-container .titulo{
    font-size: 150%;
    text-align: center;
}