.button-alternar-display{
    padding: 1%;
    
}
.button-alternar-articulo{
    padding: 1%;
    
}

.button-alternar{
    display: flex;
    
}

.btn-vender{
    content: "";
    background-image: url("https://cdn-icons-png.flaticon.com/512/2953/2953536.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    margin-right: 8px;
    font-size: 0;
}
.cajas {
    display: flex;
    padding: 2%;
    width: 100%;
    height: auto; /* En lugar de 120% para permitir que el contenido se ajuste */
  }
  
  .caja-ganancia,
  .caja-dinero {
    margin: 1%;
    background-color: white;
    width: 40%;
    height: auto; /* En lugar de 40% para permitir que el contenido se ajuste */
  }
  
  .caja-ganancia p,
  .caja-dinero p {
    white-space: pre-wrap;
    word-wrap: break-word;
  }
  